#layerFab{
    top: 120px;
}

#fabButton1{
    background-image: url(..\images\map_img1.png);
    background-size: 50px;
}

#fabButton2{
    background-image: url(..\images\map_img2.png);
    background-size: 50px;
}

#fabButton3{
    background-image: url(..\images\map_img3.png);
    background-size: 50px;
}